body {
	margin: 0;
	padding: 0;
}
.header {
	height: 4em;
	text-align: center;
}
h1 {
	text-align: center;
	color: hsl(0.4turn, 70%, 33%);
}
.main-div {
	padding-left: 1em;
	padding-right: 1em;
}
.entry {
	border-top: 1px solid #ccc;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.entry-head {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.entry-details-table {
	width: 100%;
	table-layout: fixed;
	border: solid 0px;
	padding-left: 1.5em;
}
.entry-details {
	color: #444444;
	font-size: 85%;
	padding-left: 0.5em;
	border-left: 1px solid #ccc;
}
.details-popup {
	position: relative;
	display: inline;
}
.details-popup .details-popup-text {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0s;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -10em;
	border: 2px solid hsl(0.4turn, 70%, 10%);
	border-radius: 6px;
	width: 20em;
	padding: 8px 8px;
	background-color: hsl(0.4turn, 70%, 85%);
	color: hsl(0.4turn, 70%, 10%);
	text-align: center;
}
.details-popup:hover .details-popup-text {
	visibility: visible;
	opacity: 1;
}
